{{>head}}
    
    <div class="main-content">
        {{>header}} 
        <p>This site was created by Rolf louisdor. It uses data from mapbox.com and darksky.net</p>
        <img  class="portrait" src="/img/parlo.jpg">
    </div>
                   
{{>footer}}

 