   <!DOCTYPE html>   
   <html>
  <head>      
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet"href="css/style.css" >
        <meta charset="utf8">
    </head>
    <body>